@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Test</h1>
        <p class="lead">Examen técnico para Desarrollador Full Stack</p>
    </section>

    <div class="row">
        
            <h3>Objetivo</h3>
            <p>
                1. Realizar una lista de tareas (ToDo list) con las operaciones CRUD (Create, read, update,
                delete) bajo los siguientes requerimientos.
                               
            </p>
       

            <h4>Back-end</h4>
            <p>
                2. Crear el backend en un API hecho en Net Framework o Net Core utilizando C# y Visual
                Studio 2022 o Visual Studio Code, la base de datos deberá ser SQL Server y estar vinculada
                al proyecto mediante Entity Framework. Deberá contener los endpoints para las tareas de
                creación, visualización, actualización y eliminación, estos deberán hacer uso del Entity
                Framework.
            </p>

            <h4>Front-end</h4>
            <p>
                3. En un proyecto por separado crear el frontend con React para cada una de las tareas,
                creación de un registro, actualización de un registro existente, lectura y visualización de un
                registro y de un conjunto de registros y por último eliminación, utilizar algún framework
                para el diseño como bootstrap por ejemplo.
            </p>


    </div>
</main>